.card__comments{
    display: flex;
    flex-direction: column;
    padding: 14px;
    border: 1px solid var(--border-3);
    margin-top: 60px;
    background-color: var(--bg);
    width: 800px ;
    // position: relative;
    border-radius: 10px;
    display: flex;
    // justify-content: space-around;
    .header__card {
        position: relative;
        justify-content: space-between;
        display: flex;
        justify-content: center;
        .image__header {
            position: inherit;
            top: -43px;
            right: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--bg);
            padding: 2px 30px;
            gap: 12px;


            img {
                width: 64px;
                // border-radius: 50%;
            }
        }
    }
    .buttons__card {
        position: inherit;
        top:-40px;
        left: 20px;
        margin-left: 10px;
        margin-right: 500px;
        display: flex;
        align-items: center;
        background-color: var(--bg);
        padding: 2px 14px;
        gap:12px;
        .status__card {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--primary-muted);
            padding: 8px 5px;
            border-radius: 10px;
            
            
        }
        .line {
            // padding: 1;
            width: 30px;
            height: 1px;
            background: var(--border-3);
        }
        .more__card {
            transform: rotate(90deg);
            // padding: 8px;
        }
    }

    .menu__content  {
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px ;
        // display: flex;
        justify-content: center;
        flex-direction: column;
        gap:6px;
        background-color: var(--withe);
        border-radius: 10px;
        display: none;
        transition: all 0.6s ease;
        
    }
}


.d-flex {
    display: flex !important;
}



 // ============================ responsive ====================== //
 @media only  screen and (max-width:1200px) {
    .card__comments {
        width: 600px;

        .header__card  {
            .image__header {
                right: 106px;
            }
        }
        .buttons__card {
            left: 103px;
        }
    }
 }

 @media only screen and (max-width:780px) {
    .card__comments {
        width: 550px;

        .header__card  {
            .image__header {
                right: 135px;
            }
        }
        .buttons__card {
            left: 125px;
        }
    }
 }


 @media only screen and (max-width:720px) {
    .card__comments {
        width: 500px;

        .header__card  {
            .image__header {
                right: 155px;
            }
        }
        .buttons__card {
            left: 145px;
        }
    }
 }


 @media only screen and (max-width:640px) {
    .card__comments {
        width: 450px;

        .header__card  {
            .image__header {
                right: 175px;
            }
        }
        .buttons__card {
            left: 165px;
        }
    }
 }


 @media only screen and (max-width:640px) {
    .card__comments {
        width: 400px;

        .header__card  {
            .image__header {
                right: 210px;
            }
        }
        .buttons__card {
            left: 195px;
        }
    }
 }


 @media only screen and (max-width:500px) {
    .card__comments {
        width: 300px;

        .header__card  {
            .image__header {
                right: 250px;
            }
        }
        .buttons__card {
            left: 240px;
        }
    }
}


@media only screen and (max-width:450px) {
    .card__comments {
        width: 280px;

        .header__card  {
            .image__header {
                right: 250px;
            }
        }
        .buttons__card {
            left: 240px;
        }
    }
}


@media only screen and (max-width:320px) {
    .card__comments {
        width: 280px;

        .header__card  {
            .image__header {
                right: 270px;
            }
        }
        .buttons__card {
            left: 240px;
        }
        .line {
            // padding: 1;
            width: 10px !important;
            height: 1px;
            background: var(--border-3);
        }
    }
}





