.boutton__login {
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid var(--muted-2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
   
    
}