.login-btn{
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
   background-color: var(--primary) !important;
    width: 350px;
    color: var(--withe);
}

//  ================== login_header ============ //

.header_login {
    display: flex;
    padding:6px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--muted-2);
    border-radius: 10px;
}