.panel {
  display: flex;
  // flex-direction: row-reverse;
  // background-color: red;

  // margin-top:30px ;
  //   position: fixed;

}
.bradcrumb {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.pannel__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-left: 12px;
  //   position: fixed;
  .pannel__content__body {
    background-color: var(--bg);
    padding: 20px;
    margin-top: 20px!important;
    border-radius: 10px;
   
  }
}

@media only  screen  and (max-width: 900px ){
    .pannel__content {
      margin-right: -12px;
      width: 270px;
      //padding: 6px;
      .pannel__content__body {
        padding: 6px;
      }
    }
}


