.panel {
  display: flex;
  // flex-direction: row-reverse;
  // background-color: red;

  // margin-top:30px ;
  //   position: fixed;

}
.bradcrumb {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.pannel__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-left: 12px;
  //   position: fixed;
  .pannel__content__body {
    background-color: var(--bg);
    padding: 20px;
    border-radius: 10px;
   
  }
}

@media only screen and (min-width: 375px) {
  .panel{
    display: flex;
    gap: 0px;

  }

  .pannel__content {
    //padding: 5px;
    margin-right: -10px !important;
    width: 95% !important;
  }
  .pannel__content__body {
    margin-right: -10px;
    padding: 20px !important;
  }
}




@media only screen and (max-width: 320px) {
    .panel{
      display: flex;
      gap: -12px;
    }

  .pannel__content {

    margin-right: -25px !important;
    width: 95% !important;
  }
  .pannel__content__body {
    margin-right: -10px;
    padding: 10px !important;
  }
}


