.search  {
    padding: 8px 10px;
    background-color: var(--withe);
    border-radius: 10px;
    width: 455px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
    input {
        // display: none;
        outline: none;
    }
    svg {
        vertical-align: middle;
    }
}
// ================= reasponsive ============== //

@media only screen and ( max-width:1280px) {
    .search {
        width: 300px;
    }
}

@media only screen and ( max-width:1024px) {
    .search {
        width: 250px;
    }
}

@media only screen and ( max-width:991px) {
    .search {
        width: 250px;
        display: none;
    }
}

