.sidebar__navlink {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  width: 250px;
  border-radius: 10px;
  position: relative;
  white-space: nowrap;
  z-index: 0;
  transition: all 0.5s ease;
  .tooltiptext {
    // visibility: hidden;
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    // position: absolute;
    z-index: 1;
    
  }
  &.active {
    color: var(--primary);
    background-color: var(--withe);
    box-shadow: 0px 1px 4px 0px rgba(161, 115, 115, 0.25);
    border-right: 2px solid var(--primary);
  }
  &:hover {
    color: var(--primary);
    background-color: var(--withe);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-right: 2px solid var(--primary);
  }
}

.sidebar__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-right: 10px;
//   transform: all 0.5s;


  .sidebar__icon {
    margin-left: 30px;
  }
}

.sideabar_min {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .sidebar__item {
    margin-right: 0;
    display: flex;
  }
}

@media only screen and (max-width: 990px) {
  .sidebar__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    .title  {
        display: none;
    }
    &:hover {
        .tooltiptext {
            // transition: all 0.5s;
            // transform: rotateX(20px);
            position:absolute;
            right: 80px;
            visibility:visible ;
            display: block;
            padding: 3px 8px;
            border-radius: 10px;
            background-color: var(--primary-muted);
            // color: var(--primary);
        }
    }
   

    .sidebar__icon {
      margin-left: auto;
      margin-right: auto;
      padding: 6px;
      border-radius: 10px;
      transition: all 0.4s ease;
     
    
      &:hover {
        // color: var(--withe);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        border-right: 2px solid var(--primary);
        background-color: var(--withe);
        padding: 10px;
      }
    }
  }
}
