.wallets {
    padding: 6px 10px;
    border: 1px solid var(--muted-2) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .wallets__inventory {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}


@media only screen and (max-width: 320px) {
    .wallets {
        position: relative;
        padding: 3px 8px;
        .icon-wallet {
            width: 16px;
        }
        .wallets__inventory {
            display: none;
            position:absolute;

        }
    }
}