.main  {
    position: relative;
}

.sidebar {
    // margin-top: 20px;
    // margin-bottom: 20px;
    padding: 20px;
    background-color: var(--bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items:center;
    z-index: 0;
    .logo {
       padding-top:20px;
        width: 150px;
    }
}

.sidebar__content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sidebar__logout {
    margin-top: 70px;
    margin-left: 85px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom:8px ;
    gap: 10px;
    &:hover {
        color: var(--primary);
    }
}

.min-panel {
    .sidebar__content__min {
        margin-top: 60px;
        display:flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
       
    }
}

.sidebar__content__min {
    display: none;
}
.sidebar__boutton{
    display: none;
    position: absolute;
    right: 450px;
    transition: all 0.5s ease;
}


//  ========================================   responsive  ================= //


@media only screen  and (max-width:990px) {
    .sidebar {
        // padding: 10px !important;
        width: 70px !important;
        display: flex;
        align-items: center;
        // justify-content: center;
        height:100vh;
        overflow: hidden;
    }
    .sidebar__content {
        display: none;
    }
    .sidebar__content__min {
        margin-top: 60px;
        display:flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
       
    }

    .sidebar__logout {
        margin-left: auto;
        margin-right: auto;
        h1 {
            display: none;
        }
    }
}



@media only screen and (max-width: 900px ) {
    .sidebar__boutton{
        display: flex;
        position: absolute;
        right: 450px;
        transition: all 0.5s ease;
    }
    .sidebar {
        z-index: 10;
        position: absolute;
        width:270px !important;
        display: none ;
        align-items: flex-start ;
        height:100vh;
        top: 20px !important ;
        overflow: hidden;
        animation: sidebar-item 12s ease !important;

        @keyframes sidebar-item   {
            100%{
                right: 20px;
            }
            0% {
                right: -10px;
            }
        }
    }

    .flex-sidebar {
        animation: sidebar 0.5s ease !important;
        display: flex !important;
        @keyframes sidebar  {
            0% {
                right: -10px;
            }
            100% {
                right: 20px;
            }

        }
    }


    .sidebar__boutton__close {
        transition: all 0.5s ease !important;
        transform: rotate(180deg);
    }
    .sidebar__content__min {
        margin-top: 30px;
        display:flex ;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 12px;

    }

    .sidebar__logout {
        margin-left: auto;
        margin-right: auto;
        h1 {
            display: flex;
        }
    }
}
@media only screen and (max-width: 320px ) {
    .sidebar__boutton{
        position: absolute;
        right: 290px;
        transition: all 0.5s ease;
    }
    .sidebar {
        z-index: 10;
        position: absolute;
        width:270px !important;
        display: none ;
        align-items: flex-start ;
        height:100vh;
        top: 20px !important ;
        overflow: hidden;
        animation: sidebar-item 12s ease !important;

        @keyframes sidebar-item   {
            100%{
                right: 20px;
            }
           0% {
               right: -10px;
           }
        }
    }

    .flex-sidebar {
        animation: sidebar 0.5s ease !important;
        display: flex !important;
        @keyframes sidebar  {
            0% {
                right: -10px;
            }
            100% {
                right: 20px;
            }

        }
    }


    .sidebar__boutton__close {
        transition: all 0.5s ease !important;
        transform: rotate(180deg);
    }
    .sidebar__content__min {
        margin-top: 30px;
        display:flex ;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 12px;

    }

    .sidebar__logout {
        margin-left: auto;
        margin-right: auto;
        h1 {
            display: flex;
        }
    }
}