// .message__box {
//     width: 100%;
//     border: 1px solid black;
//     margin-right: 20px;
//     margin-bottom: 20px;
// }

.chat__content__body {
    // padding: 20px;
    // position: fixed;
    overflow: auto;
    
    // position: absolute;
}
.chat__content__body__chat {
    overflow: auto;
    margin-top: 20px;
    // padding: 20px;
    // scroll-margin-right: 10px;

}
.content__body {
//   overflow: scroll;
  padding: 10px 20px;
  background-color: var(--bg);
  width: 350px;
  // margin-right: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  .text_box {
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 20px;
  }
}

.time {
  display: flex;
  color: var(--border-2);
}

.message__box__clint {
  // overflow: auto;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  scroll-snap-align: start;
  scroll-margin: 20px;
  .avatar_chat {
    // margin-bottom: 30px;
    flex-direction: column;
    gap: 0;
  }
  .status {
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.message__box__user {
  // background-color: var(--primary);
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .content__body {
    background-color: #701db036;
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px 0;
  }
  .text_box {
    span {
      color: var(--withe) !important;
    }
  }
}
.messeges__box__text__file {
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background: var(--light);
  padding: 20px;
  border-radius: 10px;
  gap: 12px;
  width: 100%;
  .image__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 20px;
    //transition: all 0.5s ease;

    img {
      width: 50px;
      border-radius: 10px;
    }
    .show_image {
      position: absolute;
      top: 5px;
      right:5px ;
      background: var(--bg);
      border-radius: 100%;
      padding: 10px;
      opacity: 70%;
      display: none;

    }
    &:hover {
      .show_image {
        display: block;

      }
    }
  }

}

.show__image {
  position: absolute;
  top: -100px;
  right: 100px;
  background: var(--light-3);
  width: 50vh;
  height: 50vh;
  //display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: none;
  transition: all 0.5s ease;
  img {
    width: 50%;
    border-radius: 10px;
  }
}

.display {
  display: flex;
}



//  ===================== esponsive ==================== //

@media only screen and (max-width: 957px) {
  .chat__content__meassege {
    display: none;
  }

  .content__body {
    width: 280px;
  }
}
// responsive mobile  size

@media only screen and (max-width: 450px) {
  .content__body {
    width: 200px;
  }
}
//width : 400
@media only screen and (max-width: 400px) {
  .content__body {
    width: 180px;
  }
}
@media only screen and (max-width: 350px) {
  .content__body {
    width: 170px;
  }
}
//width :320px
@media only screen and (max-width: 320px) {
  .content__body {
    width: 168px;
  }
}
// width :300px
@media only screen and (max-width: 300px) {
  .content__body {
    width: 140px;
  }

  .message__box__clint {
    .content__body {
      width: 150px;
    }
  }
}
//width : 270px
@media only screen and (max-width: 270px) {
  .content__body {
    width: 150px;
  }
}

@media screen {
}
