
.card__chat {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid var(--border-2);
}
.card__hader {
    display: flex;
    justify-content: space-between
}

.messeges {
    margin-right: 30px;
}