.avatart  {
    background-color: var(--bg-darken-1);
}
.avatar__title {
    font-size: 20px;
    font-weight: 600;
}
// ===================  types avatar  ============== //
.user {
    margin-top:20px ;
}

.seller {
    background-color: #fff;
}

.avatar_chat{
    display:flex;
    align-items:center;
    gap: 10px;
}

.chat__content__body__chat {

}
//  ======================== reasponsive  ========== //

@media only screen and (max-width:300px ) {
.user {
    width: 100%;

}
}